{% extends 'base/base_detail.html' %}

{% block title %}
  <title>Delete Team {{ team.id }} | National - PMS</title>
{% endblock title %}

{% block nav %}
  {% include 'teams/team_nav.html' %}
{% endblock nav %}

{% block cardContent %}
  <div class="card-header">
    <h2>Delete Team</h2>
  </div>

  <div class="card-body">
    <form method="post">
      {% csrf_token %}

      <h4 class="mb-3">
        Are you sure you want to delete Team #{{ team.id }} '{{ team.name }}'?
      </h4>

      <button type="submit" class="btn btn-danger">Delete</button>
      <a href="{% url 'team-detail' object.id %}" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
{% endblock cardContent %}
