{% extends "base/base.html" %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h2 class="text-center">Change your password</h2>
          </div>
          <div class="card-body">
            {% if validlink %}
              <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center">
                  <input type="submit" class="btn btn-primary" value="Change my password">
                </div>
              </form>
            {% else %}
              <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
