<p>Hello :) <img src="https://media.giphy.com/media/mGcNjsfWAjY5AEZNw6/giphy.gif" width="50"></p>

<p>You're receiving this email because you requested a password reset for your user account at National PMS</p>

<p>If you didn't request a password reset, please ignore this email.</p>

<p>Your username, in case you’ve forgotten: {{ user.username }}</p>

<p>Please go to the following page to reset your password:</p>

<p>{{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}</p>

<p>Thanks,</p>

<p>National-PMS Team</p>
<p></p>
