
<div class="nav nav-pills mb-3 position-absolute" id="nav-pill" role="tablist">
  <a class="nav-item nav-link" id="nav-task-table-tab" href="#task-table" data-toggle="pill" role="tab" aria-controls="task-table" aria-selected="false">Tasks</a>
</div>

<div class="tab-content" id="pills-tabContent">

  <!-- An empty div to take up space until a table is shown. This stops the navs from being hidden by the comments section. -->
  <div class="tab-pane fade show active mb-4">&emsp;</div>

  <div class="tab-pane fade" id="task-table" role="tabpanel" aria-lablledby="task-table">
    {% with 'table1' as table_id %}
      {% include 'tasks/tables/project_task_table.html' %}
    {% endwith %}
  </div>
</div>
